@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header {
    padding: 3rem 2rem;
    background: #46afa6;
    background: linear-gradient(90deg, #8cc7db 0%, #53a1b4 29%, #16757c 100%);
}

.header .contents {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.header .contents .profile_picture {
    border-radius: 0.8rem;
}

.header .contents .name {
    margin-left: 3.2rem;
    color: #d1d1d1;
}

.nav {
    background: #056860;
}

.nav .contents {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav .contents .item {
    padding: 1.6rem 2rem;
    width: 100%;
}

.nav .contents .page_link {
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin: auto;
    color: #d1d1d1;
    text-decoration: none;
    transition: color 300ms;
}

.nav .contents .page_link.active,
.nav .contents .page_link:hover {
    color: white;
}


 img {
 min-width: 100%;
}

.s-home {
    padding: 0 2rem 3.2rem;
}

.s-home .course_title {
    margin: 4rem 0;
}

.s-home .card {
    border: 0.2rem solid #175f5c;
}

.s-home .card .text_contents {
    padding-right: 2rem;
}

.s-home .card .title {
    padding: 1.6rem;
    margin: 0;
    color: white;
    background: #175f5c;
    background: linear-gradient(27deg, #234957 0%, #12495d 100%);
}

.s-home .card.learning_activites .list {
    list-style-type: none;
    padding-left: 3rem;
}

.s-home .card.learning_activites .list .item {
    font-weight: 500;
}

.s-home .card.learning_activites .list .item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.s-home .card.learning_activites .list .item .sub_text {
    display: block;
    margin-bottom: 0.4rem;
}

.s-home .card.learning_activites .list .item .sub_link {
    color: #175f5c;
    text-decoration: none;
}

.s-home .card.learning_activites .list .item .sub_link:not([href]) {
    font-size: 1.2rem;
    color: black;
}

.s-home .card.information {
    margin-top: 2rem;
}

.s-home .card.information .text_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
}

.s-home .card.information .text_contents .text {
    font-weight: 500;
}

.s-home .card.information .text_contents .weather {
    display: flex;
    align-items: center;
}

.s-home .card.information .text_contents .weather .weather_icon {
    margin-right: 0.8rem;
}


iframe{
    width: 60%;
    height: 200px;
    margin: 10px auto;
    /* text-align: center; */
} 


.footer {
    background: #056860;
    color: #d1d1d1;
    padding: 3.2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .text {
    margin: 0;
}

.footer .copyright {
    font-weight: 600;
}

.footer .last_modified {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}


@media only screen and (min-width: 744px) {
    .nav .contents {
        flex-direction: row;
        max-width: 100rem;
        margin: auto;
    }

    .s-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100rem;
        margin: auto;
    }

    .s-home .course_title {
        flex-basis: 100%;
    }

    .s-home .card.learning_activites {
        flex-basis: 57.5%;
    }

    .s-home .card.learning_activites .text_contents .list .item:not(:last-child) {
        margin-bottom: 1rem;
    }

    .s-home .card.learning_activites .text_contents .list .item .sub_text {
        display: inline;
    }

    .s-home .card.information {
        flex-basis: 37.5%;
        margin-top: 0;
    }
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

html body {
    font-size: 1.6rem;
    margin: 0;
}