@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header {
    padding: 3rem 2rem;
    background: #46afa6;
    background: linear-gradient(90deg, #8cc7db 0%, #53a1b4 29%, #16757c 100%);
}

.header .contents {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.header .contents .profile_picture {
    border-radius: 0.8rem;
}

.header .contents .name {
    margin-left: 3.2rem;
    color: #d1d1d1;
}

.nav {
    position: relative;
    background: #056860;
    min-height: 5.2rem;
    border-bottom: 2px solid transparent;

}

.nav .mobile-toggle {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    outline: none;
    border: none
}

.nav .mobile-toggle .icon {
    display: none
}

.nav .mobile-toggle .icon.active {
    display: block
}




.nav .contents {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    opacity: 0;
    height: 0rem;
    overflow-y: hidden;
    transition: all 300ms
}

.nav .contents.open {
    opacity: 1;
    height: 21.08rem
}

.nav .contents.open .page_link {
    display: block
}

.nav .contents .item {
    padding: 1.6rem 2rem;
    min-height: 5.2rem;
    width: 100%;
}

.nav .contents .page_link {
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin: auto;
    color: #d1d1d1;
    text-decoration: none;
    transition: color 300ms;
}

.nav .contents .page_link.active,
.nav .contents .page_link:hover {
    color: white;
}

.s-home {
    padding: 0 2rem 3.2rem;
    position: relative
}

 img {
 min-width: 100%;
}


.s-home .hero-img {
    position: relative
}

.s-home .hero-img .img {
    width: 100%;
    height: auto
}



.s-home .hero-img .overlay {
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    background-color: #0F0F0F;
    padding: 1.6rem;
    border-radius: 0.6rem
}

.s-home .hero-img .overlay .text {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #f9f9f9
}

.s-home .top {
    position: relative;
    width: 100%
}

.s-home .top .course_title {
    padding: 4rem 5.2rem 4rem 0;
    margin: 0 0 4rem
}

.s-home .theme-toggle {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background: none;
    border: none
}

.s-home .theme-toggle .icon {
    display: none
}

.s-home .theme-toggle .icon.active {
    display: block
}

.s-home .card {
    border: 0.2rem solid #175f5c;
}

.s-home .card .text_contents {
    padding-right: 2rem;
}

.s-home .card .title {
    padding: 1.6rem;
    margin: 0;
    color: white;
    background: #175f5c;
    background: linear-gradient(27deg, #234957 0%, #12495d 100%);
}

.s-home .card.learning_activites .list {
    list-style-type: none;
    padding-left: 3rem;
}

.s-home .card.learning_activites .list .item {
    font-weight: 500;
}

.s-home .card.learning_activites .list .item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.s-home .card.learning_activites .list .item .sub_text {
    display: block;
    margin-bottom: 0.4rem;
}

.s-home .card.learning_activites .list .item .sub_link {
    color: #175f5c;
    text-decoration: none;
}

.s-home .card.learning_activites .list .item .sub_link:not([href]) {
    font-size: 1.2rem;
    color: black;
}

.s-home .card.information {
    margin-top: 2rem;
}

.s-home .card.information .text_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
}

.s-home .card.information .text_contents .text {
    font-weight: 500;
}

.s-home .card.information .text_contents .weather {
    display: flex;
    align-items: center;
}

.s-home .card.information .text_contents .weather .weather_icon {
    margin-right: 0.8rem;
}


iframe{
    width: 100%;
    height: 200px;
    margin: 40px auto;
    /* text-align: center; */
} 
body.t-dark {
    background: #0F0F0F
}

body.t-dark .nav {
    border-bottom: 0.2rem solid #234957
}

body.t-dark .s-home .course_title {
    color: #f9f9f9
}

body.t-dark .s-home .card.learning_activites .list .item .sub_text {
    color: #f9f9f9
}

body.t-dark .s-home .card.learning_activites .list .item .divider {
    color: #f9f9f9
}

body.t-dark .s-home .card.learning_activites .list .item .sub_link {
    color: #f9f9f9;
    text-decoration: underline;
    text-underline-offset: 0.3rem
}

body.t-dark .s-home .card.learning_activites .list .item .sub_link:not([href]) {
    color: #f9f9f9;
    text-decoration: none
}

body.t-dark .s-home .card.information .text_contents {
    color: #f9f9f9
}

body.t-dark .footer {
    border-top: 0.2rem solid #234957
}

.footer {
    background: #056860;
    color: #d1d1d1;
    padding: 3.2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .text {
    margin: 0;
}

.footer .copyright {
    font-weight: 600;
}

.footer .last_modified {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}


@media only screen and (min-width: 744px) {
    .nav .mobile-toggle {
        display:none
    }


    .nav .contents {
        flex-direction: row;
        opacity: 1;
        height: fit-content;
        max-width: 100rem;
        margin: auto
    }

    .s-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100rem;
        margin: auto;
    }

    .s-home .course_title {
        flex-basis: 100%;
    }

    .s-home .card.learning_activites {
        flex-basis: 57.5%;
    }

    .s-home .card.learning_activites .text_contents .list .item:not(:last-child) {
        margin-bottom: 1rem;
    }

    .s-home .card.learning_activites .text_contents .list .item .sub_text {
        display: inline;
    }

    .s-home .card.information {
        flex-basis: 37.5%;
        margin-top: 0;
    }
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

html body {
    font-size: 1.6rem;
    margin: 0;
}